.NavButton{
    text-align: center;
    color: black;
    border: none;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: #699ed2;
    background-image: url("/cardboard.png");
    cursor: pointer;
    outline: 0;
}

.NavButton:hover{
    background-color: #b3cde0;
}