.MainBanner{
    height: 300px;
    position: absolute;
    top:35px;
    bottom: 0;
    left: 0;
    right: 0;

    text-align: center;
    background-color: #699ed2;
    background-image: url("/cardboard.png");
}