.Footer{
    width: 100%;
    background-color: #6497b1;
    text-align: center;
    color: black;
    border: none;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    opacity: 100%;
    outline: 0;
}