.Footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    background-color: #699ed2;
    background-image: url("/cardboard.png");
    text-align: center;
    border: none;
    display: inline-block;
    outline: 0;
    margin-top: 10px;
}